@mixin border-radius($value){
    border-radius: $value;
}

@mixin flex($fd:column,$jc:space-between,$ai:stretch,$gap:0,$fw:wrap){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
    flex-wrap: $fw;
}

@mixin reset-list($p:0,$m:0){
    padding: $p;
    margin: $m;
    list-style-type: none;
}

@mixin bg($key,$val){
    background-#{$key}:$val;
}