$primary-font: "Poppins";
$color1: rgba(84, 70, 0, 0.722);
$color2: rgba(226, 192, 43, 0.555);
$color3: rgb(234, 234, 234);
$color4: rgb(218, 227, 122);
$color5: rgb(158, 100, 14);
$card-image:url("../image/bg.jpg");